{% extends 'base.html' %}
{% block meta %}
  <title>Registrasi Warga</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% endblock meta %}
{% block content %}
<style>
  .row {
    padding-top:2px
  }
</style>
<h2 class='text-center pt-3'> Registrasi Warga</h2>
{% if error %}
<h5>{{ message }}</h5>
{% endif %}
<form action="" method="POST">
  {% csrf_token %}
  <div class='container mx-auto'>
    <div class='row'>
      <h6 class='col text-center my-3'>Informasi Akun</h3>
    </div>
     <div class='form-group row'>
      <label for="inputEmail" class='col-sm-2 col-form-label'>Email:</label>
      <div class='col-sm-10'>
        <input name="email" type="text" id='inputEmail' class='form-control' placeholder="E-mail" required>
      </div>
    </div>
    <div class='form-group row'>
      <label for="inputPass" class='col-sm-2 col-form-label'>Password:</label>
      <div class='col-sm-10'>
        <input name="password" type="text" id='inputPass' class='form-control' placeholder="Password" requires>
      </div>
    </div>
    <div class='form-group row'>
      <label for="inputNoHP" class='col-sm-2 col-form-label'>No. HP:</label>
      <div class='col-sm-10'>
        <input type="text" name="hp" id='inputNoHP' class='form-control' placeholder="No. HP" requires>
      </div>
    </div>
    <div class='row'>
      <h6 class='col text-center my-3'>Data Personal</h3>
    </div>
    <div class='form-group row'>
      <label for="inputNIK" class='col-sm-2 col-form-label'>NIK:</label>
      <div class='col-sm-10'>
        <input name="nik" type="text" id='inputNIK' class='form-control' placeholder="NIK" required>
      </div>
    </div>
    <div class='form-group row'>
      <label for="inputNamaPanjang" class='col-sm-2 col-form-label'>Nama Panjang:</label>
      <div class='col-sm-10'>
        <input name="namaLengkap" type="text" id='inputNamaPanjang' class='form-control' placeholder="Nama Panjang" requires>
      </div>
    </div>
    <div class='form-group row'>
      <label for="inputJenisKelamin" class='col-sm-2 col-form-label'>Jenis Kelamin:</label>
      <div class='col-sm-10'>
        <select name="jenisKelamin" id="inputJenisKelamin" class='form-control'>
          <option value="" selected>Jenis Kelamin</option>
          <option value="m">Laki-laki</option>
          <option value="f">Perempuan</option>
        </select>
      </div>
    </div>
    <div class='row'>
      <h6 class='col text-center my-3'>Alamat</h3>
    </div>
    <div class='form-group row'>
      <label for="inputNoBangunan" class='col-sm-2 col-form-label'>No. Bangunan:</label>
      <div class='col-sm-10'>
        <input name="noBangunan" type="text" id='inputNoBangunan' class='form-control' placeholder="Nomor Bangunan" required>
      </div>
    </div>
    <div class='form-group row'>
      <label for="inputNamaJalan" class='col-sm-2 col-form-label'>Nama Jalan:</label>
      <div class='col-sm-10'>
        <input name="namaJalan" type="text" id='inputNamaJalan' class='form-control' placeholder="Nama Jalan" requires>
      </div>
    </div>
    <div class='form-group row'>
      <label for="inputKelurahan" class='col-sm-2 col-form-label'>Kelurahan:</label>
      <div class='col-sm-10'>
        <input name="kelurahan" type="text" id='inputKelurahan' class='form-control' placeholder="Kelurahan" requires>
      </div>
    </div>
    <div class='form-group row'>
      <label for="inputKecamatan" class='col-sm-2 col-form-label'>Kecamatan:</label>
      <div class='col-sm-10'>
        <input name="kecamatan" type="text" id='inputKecamatan' class='form-control' placeholder="Kecamatan" requires>
      </div>
    </div>
    <div class='form-group row'>
      <label for="inputKabKota" class='col-sm-2 col-form-label'>Kab/Kota:</label>
      <div class='col-sm-10'>
        <input name="kabkota" type="text" id='inputKab/Kota' class='form-control' placeholder="Kab/Kota" requires>
      </div>
    </div>
    <div class='row'>
      <h6 class='col text-center my-3'>Afiliasi</h3>
    </div>
    <div class='form-group row'>
      <label for="inputAfiliasi" class='col-sm-2 col-form-label'>Instansi:</label>
      <div class='col-sm-10'>
        <select name="instansi" id="inputAfiliasi" class='form-control'>
          <option value="" selected>Instansi...</option>
          {% for key,value in instansis.items %}
          <option value="{{key}}">{{value}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
  <div class="d-grid gap-2 col-4 mx-auto py-3">
    <button type="submit" class="btn btn-primary mt-3">Daftar</button>
  </div>
</form>
{% endblock content %}
{% block scripts %}
{% include 'script.html' %}
{% endblock scripts %}

