<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <title>Detail Tiket</title>
  </head>
  <body class="py-10 px-32 bg-purple-200">
    <h1 class="text-center text-2xl font-bold">Detail Tiket</h1>  
      <div class="centered">
            <form id="formCreate" action="{% url 'detail_tiket_vaksin' %}" method="get">
                {% csrf_token %} {{form.as_p}}
            </form>

        </div>
     


  </body>
  <style>
    #id_status_tiket_update,
    label[for="id_status_tiket_update"] {
        display: none
    }
</style>
</html>

