<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <title>distribusi</title>
  </head>
  <body class="py-10 px-32 bg-purple-200">
    <h1 class="text-center text-2xl font-bold">‘Daftar Distribusi Vaksin’</h1>
    {% comment %} create table {% endcomment %}
    <table class="table-fixed capitalize mx-auto">
      <h2 class="mb-2 mt-3 text-center">Role: Admin Satgas</h2>
      <thead>
        <tr>
          <th class="w-1/4 bg-pink-400">kode</th>
          <th class="w-1/4 bg-pink-400">tanggal distribusi</th>
          <th class="w-1/12 bg-pink-400">biaya</th>
          <th class="w-1/6 bg-pink-400">jenis vaksin</th>
          <th class="w-1/12 bg-pink-400">jumlah</th>
          <th class="w-1/6 bg-pink-400">action</th>
        </tr>
      </thead>
      <tbody>
        {% for distribusi in distribusi_records %}
        <tr class="bg-pink-200 text-center">
          <td class="px-1 py-1.5">{{distribusi.kode}}</td>
          <td class="px-1 py-1.5">{{ distribusi.tanggal }}</td>
          <td class="px-1 py-1.5">{{ distribusi.biaya }}</td>
          <td class="px-1 py-1.5">{{ distribusi.nama_vaksin }}</td>
          <td class="px-1 py-1.5">{{distribusi.jumlah_vaksin}}</td>
          <td class="px-1 py-1.5">
            <a href={% url 'admin-distribusi-detail' distribusi.kode %} class="text-blue-500 block underline"> [Detail] </a>
            <a href={% url 'admin-distribusi-update' distribusi.kode %} class="text-blue-500 block underline"> [Update] </a>
            <a class="text-blue-500 block underline"> [Delete] </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% comment %} end table {% endcomment %}
  </body>
</html>
