<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>
  </head>
  <body class="">
    <h1>Sivac Basdat B08</h1>
    <br />
    <table class="">
      <thead>
        <tr>
          <th>No Trigger</th>
          <th class="">No Fitur</th>
          <th class="">Nama Fitur</th>
          <th class="">Link</th>
          <th>Penanggung Jawab</th>
        </tr>
      </thead>
      <tbody>
        <tr class="">
          <td>2</td>
          <td class="">3</td>
          <td class="">CRU Penjadwalan</td>
          <td class="">
            <div></div>
            <a href="{% url 'panitia-penjadwalan' %}">[Panitia] </a>
            <a href="{% url 'admin-penjadwalan' %}"> [Admin]</a>
          </td>
          <td>Zidan Kharisma Adidarma (2006463881)</td>
        </tr>
        <tr class="">
          <td>2</td>

          <td class="">4</td>
          <td class="">CRUD Distribusi</td>
          <td class="">
            <a href="{% url 'admin-distribusi' %}">[Admin]</a>
          </td>
          <td>Zidan Kharisma Adidarma (2006463881)</td>
        </tr>
        <tr class="">
          <td>2</td>

          <td class="">5</td>
          <td class="">RU Vaksin</td>
          <td class="">
            <a href="{% url 'admin-vaksin' %}">[Admin]</a>
          </td>
          <td>Zidan Kharisma Adidarma (2006463881)</td>
        </tr>
        <tr class="">
          <td>4</td>

          <td class="">10</td>
          <td class="">CD Vaksin</td>
          <td class="">
            <a href='/trigger4/admin/vaksin/tambah_vaksin'>[Admin]</a>
          </td>
          <td>Gitan Sahl Tazakha Wijaya (2006596522)</td>
        </tr>
        <tr class="">
          <td>1</td>

          <td class="">1</td>
          <td class="">Login and Logout</td>
          <td class="">
            <a href='/login'>[User]</a>
          </td>
          <td>Gitan Sahl Tazakha Wijaya (2006596522)</td>
        </tr>
        <tr class="">
          <td>1</td>

          <td class="">1</td>
          <td class="">Registrasi Pengguna</td>
          <td class="">
            <a href='/register'>[User]</a>
          </td>
          <td>Gitan Sahl Tazakha Wijaya (2006596522)</td>
        </tr>
      </tbody>
    </table>
    {% comment %} end table {% endcomment %}
  </body>
</html>
