<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>Landing Page</title>
  </head>
  <body class="py-16 px-32">
    {% if roles|length > 0 %}
      <div class="flex justify-between">
        <div class="w-1/2">
          <h3>HI {{ email }} !</h3>
          <h3>Your Role is:</h3>
          <ul class="list-inside"> 
            {% for role in roles %}
              <li class="list-disc"> {{ role }} </li>
            {% endfor %}
          </ul>
        </div>
        <div class="w-1/2 flex justify-end">
          <form action="" method="POST">
            {% csrf_token %}
            <button type="submit" class="bg-red-400 text-white font-bold px-8 py-3" > Logout </button>
          </form>
        </div>
      </div>
      {% else %}
      <h1>You're not logged in!</h1>
    {% endif %}
    <h1 class="font-bold text-2xl text-center">Sivac Basdat B08</h1>
    <br />
    <table class="table-fixed w-11/12 mx-auto text-center">
      <thead>
        <tr>
          <th class="w-1/12">No Trigger</th>
          <th class="w-1/12">No Fitur</th>
          <th class="w-1/3">Nama Fitur</th>
          <th class="w-1/6">Link</th>
          <th class="w-2/3">Penanggung Jawab</th>
        </tr>
      </thead>
      <tbody>
        <tr class="">
          <td>1</td>
          <td class="">1</td>
          <td class="">Login and Logout</td>
          <td class="">
            <a class="underline text-blue-500" href='/trigger1/login'>[User]</a>
          </td>
          <td>Gitan Sahl Tazakha Wijaya (2006596522)</td>
        </tr>
        <tr class="">
          <td>1</td>
          <td class="">2</td>
          <td class="">Registrasi Pengguna</td>
          <td class="">
            <a class="underline text-blue-500" href='/trigger1/register'>[User]</a>
          </td>
          <td>Gitan Sahl Tazakha Wijaya (2006596522)</td>
        </tr>
        <tr class="">
          <td>2</td>
          <td class="">3</td>
          <td class="">CRU Penjadwalan</td>
          <td class="">
            <div></div>
            <a class="underline text-blue-500" href="{% url 'panitia-penjadwalan' %}">[Panitia] </a>
            <a class="underline text-blue-500" href="{% url 'admin-penjadwalan' %}"> [Admin]</a>
          </td>
          <td>Zidan Kharisma Adidarma (2006463881)</td>
        </tr>
        <tr class="">
          <td>2</td>

          <td class="">4</td>
          <td class="">CRUD Distribusi</td>
          <td class="">
            <a class="underline text-blue-500" href="{% url 'admin-distribusi' %}">[Admin]</a>
          </td>
          <td>Zidan Kharisma Adidarma (2006463881)</td>
        </tr>
        <tr class="">
          <td>2</td>

          <td class="">5</td>
          <td class="">RU Vaksin</td>
          <td class="">
            <a class="underline text-blue-500" href="{% url 'admin-vaksin' %}">[Admin]</a>
          </td>
          <td>Zidan Kharisma Adidarma (2006463881)</td>
        </tr>
        <tr class="">
          <td>5</td>

          <td class="">11</td>
          <td class="">RU Tiket</td>
          <td class="">
            <a class="underline text-blue-500" href="{% url 'tiket_vaksin' %}">[Nakes]</a>
          </td>
          <td>Fayza Hanifah(1906399726)</td>
        </tr>
        <tr class="">
          <td>5</td>

          <td class="">12</td>
          <td class="">CR Kartu Vaksin</td>
          <td class="">
            <a class="underline text-blue-500" href="{% url 'kartu_vaksin' %}">[Pengguna]</a>
          </td>
          <td>Fayza Hanifah(1906399726)</td>
        </tr>
          <td>4</td>

          <td class="">10</td>
          <td class="">CD Vaksin</td>
          <td class="">
            <a class="underline text-blue-500" href='/trigger4/admin/vaksin/tambah_vaksin'>[Admin]</a>
          </td>
          <td>Gitan Sahl Tazakha Wijaya (2006596522)</td>
        </tr>

      </tbody>
    </table>
    {% comment %} end table {% endcomment %}
  </body>
</html>
