<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <title>Penjadwalan</title>
  </head>
  <body class="py-10 px-32 bg-purple-200">
    <h1 class="text-center text-2xl font-bold">‘Update Penjadwalan Vaksin’</h1>
    {% comment %} create table {% endcomment %}
    <div class="w-3/4 flex justify-center mx-auto py-32">
      <form action="POST">
        <div>
          <label for="nama_instansi">Nama Instansi:</label>
          <select name="nama_instansi" id="nama_instansi">
            {% for instansi in instansi_records %} 
            {% if instansi.kode in selected.kode_instansi %}
            <option selected value="{{instansi.kode}}">
              {{instansi.nama_instansi}}
            </option>
            {% else %}
            <option value="{{instansi.kode}}">
              {{instansi.nama_instansi}}
            </option>
            {% endif %} 
            {% endfor %}
          </select>
        </div>
        <div>
          <label for="tanggal_waktu">tanggal waktu:</label>
          <input
            type="date"
            id="tanggal_waktu"
            value="{{selected.waktu|slice:10}}"
            name="tanggal_waktu"
          />
        </div>
        <div>
          <label for="kuota">kuota:</label>
          <input
            type="number"
            id="kuota"
            value="{{selected.kuota}}"
            name="kuota"
          />
        </div>
        <div>
          <p>Tipe Penerima:</p>
          {% if selected.kategori_penerima == 'umum' %}
          <input checked type="radio" id="opsi1" name="penerima" value="Umum" />
          <label for="opsi1">Umum</label><br />
          <input type="radio" id="opsi2" name="penerima" value="Internal" />
          <label for="opsi2">Internal</label><br />
          {% else %}
          <input type="radio" id="opsi1" name="penerima" value="Umum" />
          <label for="opsi1">Umum</label><br />
          <input checked type="radio" id="opsi2" name="penerima" value="Internal" />
          <label  for="opsi2">Internal</label><br />
          {% endif %}
        </div>
        <div>
          <label for="nama_instansi">Lokasi Vaksin:</label>
          <select name="nama_instansi" id="nama_instansi">
            {% for lokasi in lokasi_records %} 
            {% if lokasi.nama == selected.lokasi_vaksin %}
            <option selected value="{{lokasi.kode}}">{{lokasi.nama}}</option>
            {% else %}
            <option value="{{lokasi.kode}}">{{lokasi.nama}}</option>
            {% endif %} 
            {% endfor %}
          </select>
        </div>
        <div>
        Status: Pengajuan dikirim
        </div>
        <br /><br />
        <input type="submit" value="Submit" />
      </form>
    </div>
    {% comment %} end table {% endcomment %}
  </body>
</html>
